.collapsible {
    background-color:#061B2A;
    color: #BEE0F8;
    cursor: pointer;
    /*padding: 2px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color:#020a0f;
  }
  
  .collapsible:after {
    content: '\002B';
    /*color: white;*/
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /*background-color: #f1f1f1;*/
  }