:root {
    --dark-blue: #061B2A;
    --dark-blue-1: #020a0f;
    --medium-blue: #042B46;
    --light-blue: #BEE0F8;
    --pale-blue: #264357;
    --black: #000000;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    position: relative;
    display: inline-block;
    /*justify-content: center;*/
    width: 100%;
    min-width: 320px;
    height: auto;
    /*text-align: center;*/
    color: var(--white);
    background-color: var(--dark-blue);
}

header h1 {
    font-size: 3rem;
}

header h2 {
    font-size: 1.7rem;
}
.header-title {
    width: auto;
}
.header-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    width: 100%;
    background-color: var(--medium-blue);
    padding-top: 20px;
}

.main-cv-container {
    width: 100%;
    background-color: var(--medium-blue);
    min-width: 290px;
    border-radius: 15px;
    align-items: flex-end;

}

.main-cv-profile-pic {
    
    width: 75px;
    height: 75px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.main-cv-personal {
    width: 100%;
    display: left;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-blue);
    height: auto;
    padding-bottom: 15px;
}

.main-cv-personal--title {
    text-align: left;
    width: 100%;
    height: 50;
    font-size: 2rem;
    padding-top: 15px;
    padding-left: 15px;
    background-color: var(--dark-blue);
    color: var(--white);
}

.main-cv-personal--container {
    width: 95%;
    height: auto;
    justify-content: center;
    padding: 20px 10px 20px;
    background-color: var(--dark-blue-1);
    margin: 5px auto;
    color: var(--light-blue);
    border-radius: 5px;
    font-size: 1.5rem;
    
}

.main-cv-personal-box {
    display: flex;
    padding-bottom: 10px;
}

.main-cv-personal--label {
    line-height: 2rem;
    padding-left: 10px;
    min-width: 100px;
    max-width: 100px;
}

.main-cv-personal--value {
    line-height: 2rem;
    padding-left: 10px;
    padding-bottom: 5px;
}

.main-cv-personal--label {
    font-weight: bold;
}

.main-cv-profesional {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    background-color: var(--dark-blue);
    padding-bottom: 15px;
}

.main-cv-profesional--container {
    width: 95%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px;
    background-color: var(--dark-blue-1);
    border-radius: 5px;
    margin: 5px auto;
}

.main-cv-profesional--title {
    text-align: left;
    width: 100%;
    height: 50;
    font-size: 2rem;
    padding-top: 15px;
    padding-left: 15px;
    background-color: var(--dark-blue);
    color: var(--white);
}

.main-cv-profesional-summary {
    margin-bottom: 20px;
    color: var(--light-blue);
}

.main-cv-profesional-techs li {
    list-style:circle;
    line-height: 1.5rem;
    font-size: 1.3rem;
    margin: 2px 15px;
    padding: 2px 15px;
    height: auto;
    color: var(--light-blue);
}

/*-----------WORKHISTORY-------------------------------*/

.main-cv-workhistory {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
}

.main-cv-workhistory--title {
    text-align: left;
    width: 100%;
    height: 50;
    font-size: 2rem;
    padding-top: 15px;
    padding-left: 15px;
    background-color: var(--dark-blue);
    color: var(--white);
}

.main-cv-workhistory--container {
    display: inline-block;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 0px 10px 20px 10px;
    background-color: var(--dark-blue);
}

.main-cv-workhistory-button {
    background-color: var(--dark-blue-1);
    color: var(--light-blue);
}

.main-cv-workhistory-card {
    width: 95%;
    height: auto;
    font-size: 1.7rem;
    background-color: var(--dark-blue-1);
    margin: 10px auto;
    min-width: 160px;
    
    padding: 10px 10px;
    color: var(--white);
    border-radius: 5px;
}

.main-cv-workhistory-timelapse {
    display: flex;
    flex-wrap: wrap;
}

.timelapse-icon {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0px 10px;
    background-image: url('../assets/icons/time-lapse-ico.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.main-cv-workhistory-card-company {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
}


.main-cv-workhistory-card--container {
    display: flex;
}

.main-cv-workhistory-card-startdate-icon {
    height: 40px;
    width: 40px;
    background-image: url('../assets/icons/start-date-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 15px;
    padding-right: 15px;
    vertical-align: middle;
}

.main-cv-workhistory-card-enddate-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url('../assets/icons/end-date-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 15px;
    padding-right: 15px;
    vertical-align: middle;

}


.main-cv-workhistory-card-text {
    font-weight: 500;
    line-height: 3rem;
    
}

.main-cv-workhistory-header {
    height: 50px;
}

.main-cv-workhistory-elem {
    list-style: circle;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 5px 15px;
    height: auto;
    padding: 15px 5px;
    color: var(--light-blue);
    
}

/*-----------EDUCATION------------------*/

.main-cv-education {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
}

.main-cv-education-university--container {
    background-color: var(--dark-blue);
}



.main-cv-education--title {
    text-align: left;
    width: 100%;
    height: 50;
    font-size: 2rem;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: 500;
    background-color: var(--dark-blue);
    color: var(--white);
}

.main-cv-education-uni-card {
    width: 95%;
    margin: 5px auto;
    min-width: 350px;
    background-color: var(--dark-blue-1);
    color: var(--white);
    height: auto;
    margin-bottom: 25px;
}

.main-cv-education-uni-degree {
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 10px;
}
.main-cv-education-uni-name {
    line-height: 2rem;
    font-size: 1.5rem;
    padding-top: 5px;
    padding-left: 10px;
}

.main-cv-education-uni-year {
    line-height: 2rem;
    font-size: 1.5rem;
    padding-top: 5px;
    padding-left: 10px;
}

/*----------CERTIFICATIONS--------------*/

.main-cv-education-certifications--container {
    background-color: var(--dark-blue);
}

.main-cv-education-courses--container {
    background-color: var(--dark-blue);
}

.main-cv-education-other--container {
    background-color: var(--dark-blue);
}

/*-------COMMON------------*/

.main-cv-link-div {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 5px;    
}



.main-cv-link-a {
    text-decoration: none;
    height: 20px;
    color: var(--light-blue);
    font-size: 1.5rem;
    line-height: 1.3rem;
}

.main-cv-link-span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0px 10px;
    background-image: url('../assets/icons/link-icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-cv-education-section-title {
    color: var(--white);
    height: auto;
    margin-left: 25px;
    font-size: 2rem;
    
}

/*-----TABLES-----------*/

.div-table {
    display: block;
    width: 95%;
    min-width: 350px;
    margin: 20px auto;
    color: var(--white);
    font-size: 1.1.7rem;
    height: auto;
    background-color: var(--dark-blue-1);
    padding: 5px;

}

.div-header {
    font-weight: 600;
    margin-bottom: 10px;
}

.div-row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.div-cell-large {
    width: 200px;
    margin: 5px 5px;
    border-color: var(--pale-blue);
    border-width: 5px;
    
}

.div-cell-mid {
    width: 100px;
    margin: 5px 5px;
    border-color: var(--pale-blue);
    border-width: 5px;
    
}

/*----FOOTER-------*/

footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--dark-blue-1);
}

footer section {
    display: flex;
    width: 90%;
    padding-left: 35px;
    padding-top: 10px;
}

footer .left ul{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    list-style-type: none;
}

.left li {
    margin: 10px 0;
    
}

.left a {
    text-decoration: none;
    color: var(--white);
    margin-top: 5px;
    margin-left: 5px;
}

footer section div {
    display: flex;
}

footer span {
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#linkedInIcon {
    background-image: url('../assets/icons/linkedin-icon.png');    
}

#githubIcon {
    background-image: url('../assets/icons/github-icon.png');    
}

/*-----language selector ------*/

.language-selector {
    display: inline;
    justify-content: flex-end;
    width: auto;
    height: auto;
}

.language-selector-button {
    font-size: 2rem;
    padding: 5px 5px;
}
  
.language-content {
    background-color: var(--dark-blue-1);
    height: 35px;
  }

  .language-option {
    display: flex;
    flex-wrap: wrap;
    padding: 5px, 5px;
    cursor: pointer;
  }

  .language-selector img {
    width: 25px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .language-selector img:hover {
    transform: scale(1.1);
  }